<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="title='Bulletin'">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/community/community.css}">
</th:block>

<div layout:fragment="content">
    <div class="container">
        <div class="py-5">
            <div class="banner">
                <h5>토익관련 정보를 자유롭게 공유하는 게시판입니다.</h5>
            </div>
            <div id="upload-btn">
                <button class="btn"><a th:href="@{/bulletin_upload}" class="btn btn-dark">글쓰기</a></button>
            </div>
            <table class="table table-striped">
                <thead>
                <tr class="row" id="list-row">
                    <td class="col-1">번호</td>
                    <td class="col-6">제목</td>
                    <td class="col-1">작성자</td>
                    <td class="col-1">좋아요</td>
                    <td class="col-1">조회수</td>
                    <td class="col-2">날짜</td>
                </tr>
                </thead>

                <tbody>
                    <tr id="forum_list" class="row" th:each="bulletin : ${bulletinList}" >
                        <th id="number" class="col-1" th:text="${bulletinStat.index + 1}">1</th>
                        <td id="title" class="col-6" ><a th:text="${bulletin.getTitle}" th:href="@{/bulletinDetail/{id}(id=${bulletin.id})}"></a></td>
                        <td id="nickname" class="col-1" th:text="${bulletin.getNickname()}"></td>
                        <td id="get-like" class="col-1" th:text="${bulletin.getLikeNumber()}"></td>
                        <td id="hit" class="col-1" th:text="${bulletin.getHit()}"></td>
                        <td id="date" class="col-2" th:text="${bulletin.getDate()}"></td>
                    </tr>
                </tbody>
            </table>
            <hr id="line-bulletin"/>
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" th:href="@{/bulletin?page=1}" aria-label="Previous"><span aria-hidden="true">처음</span></a></li>
                    <li class="page-item"> <a class="page-link" th:href="@{/bulletin?page={page} (page = ${pagination.prevBlock})}" aria-label="Previous"><span aria-hidden="true">이전</span></a></li>

                    <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
                        <li class="page-item"
                            th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
                            th:each="pageButton : ${#numbers.sequence(start, end)}">
                            <a class="page-link active" th:href="@{/bulletin?page={page} (page = ${pageButton})}" th:text=${pageButton}></a>
                        </li>
                    </th:block>
                    <li class="page-item"><a class="page-link" th:href="@{/bulletin?page={page} (page = ${pagination.nextBlock})}" aria-label="Next"><span aria-hidden="true">다음</span></a></li>
                    <li class="page-item"><a class="page-link" th:href="@{/bulletin?page={page} (page = ${pagination.totalPageCnt})}" aria-label="Previous"><span aria-hidden="true">끝</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</html>