<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="title='Update_Bulletin!'">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/community/community.css}">
</th:block>

<div layout:fragment="content">
    <div class="container">
        <div class="py-5">

            <form th:action="@{/updateBulletin}" method="post">
                <div>
                    <label id="bulletin-title" for="title">글 제목</label>
                    <input class="form-control" id="id" type="hidden" th:value="${updateBulletin.getId()}" name="id" >
                    <input class="form-control" id="writerId" type="hidden" th:value="${updateBulletin.getWriterId()}" name="writerId" >
                    <input class="form-control" id="title" type="text" th:value="${updateBulletin.getTitle()}" name="title" >
                    <br/>

                    <label id="bulletin-content" for="content">글 내용</label>
                    <textarea class="form-control" id="content" th:text="${updateBulletin.getContent()}" th:value="${updateBulletin.getContent()}" name="content"></textarea>
                </div>
                <br/>
                <div id="upload-submit">
                    <button type="submit" id="updateBulletin" class="btn btn-dark">글 수정</button>
                </div>
            </form>
        </div>

    </div>

</div>
</html>