<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="title='RC_Sheet'">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/sheet/sheet.css}">
</th:block>



<div layout:fragment="content">
    <div class="container">
        <form action="">
            <div class="py-5">
                <div>
                    <p>This is end of the speaking test.<br/>
                        You will be able to check your speech if you need to. Press the PLAY button to hear what you have recorded.<br/>
                        Then press the SUBMIT button of the screen.
                    </p>
                </div>
                <div>
                    <label>
                        Question 1
                    </label><br/>
                    <button class="btn btn-primary">듣기 </button>
                </div>
            </div>
            <div>
                <button class="btn btn-primary">제출</button>
            </div>
        </form>
    </div>
</div>
</html>