<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="title='Notify_Password'">

<th:block layout:fragment="js">
    <script type="text/javascript" th:src="@{/js/user/notify.js}"></script>
</th:block>

<div layout:fragment="content">
    <div class="py-5 text-center">

        <div th:if="${error_code == 'password.reset.failed'}">
            <h2>비밀번호 재설정 인증 실패</h2>
            <p class="lead">아이디와 이메일을 다시 확인하세요.</p>
        </div>

        <div class="row g-10 justify-content-center">
            <form th:action="@{/notify_password}" method="post" name="signupForm" novalidate>
                <div th:if="${result_code == 'password.reset.send'}">
                    <h2>비밀번호 재설정 인증</h2>
                    <p class="lead">회원님의 이메일[<span th:text="${resetPasswordEmail.email}"></span>]로 인증번호를 전송했습니다.</p>

                    <hr class="col-12 my-4">
                    <label for="token" class="form-label">비밀번호 초기화 인증번호</label>

                    <div class="input-group">
                        <input type="text" name="token" class="form-control" id="token" aria-describedby="token_help_text" required>
                        <div class="invalid-feedback">필수 사항입니다.</div>

                        <input type="hidden" th:value="${resetPasswordEmail.email}" name="resetPasswordEmail" class="form-control" id="resetPasswordEmail" aria-describedby="resetPasswordEmail_help_text" required>

                        <button class="w-50 btn btn-dark" type="button" id="reset_password_email_token_check_button">확인</button>
                    </div>

                    <hr class="col-12 my-4">
                    <button class="w-50 btn btn-dark btn-lg" type="submit" id="goResetPassword">비밀번호 수정</button>
                </div>
            </form>
        </div>

        <div th:if="${result_code == 'password.reset.success'}">
            <h2>비밀번호 재설정 완료</h2>
            <p class="lead">비밀번호가 수정되었습니다.</p>
            <small id ="reset_password_complete" class="form-text text-muted">
                <a href="#" th:href="@{/login}">로그인 하러가기</a>
            </small>
        </div>

    </div>

    <!-- The Modal -->
    <div class="modal fade" id="emailButton2">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title">알림</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    ...
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn info" data-dismiss="modal">확인</button>
                </div>

            </div>
        </div>
    </div>


</div>

</html>