<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="title='Reset_Password'">


<div layout:fragment="content">
    <div class="container">
        <main>

            <div class="py-5 text-center">
                <h2>비밀번호 재설정</h2>
                <p class="lead">새로운 비밀번호를 입력하세요.</p>
            </div>

            <div class="row g-10 justify-content-center">
                <form class="needs-validation" th:action="@{/reset_password}" method="post" name="loginForm" novalidate>
                    <input type="hidden" name="email" th:value="${email}"/>

                        <div class="col-12">
                            <label for="password" class="form-label">새로운 비밀번호 입력</label>
                            <input type="password" class="form-control" name= "password" id="password" aria-describedby="password_help_text" required>
                            <div class="invalid-feedback">필수 사항입니다.</div>
                        </div>

                    <hr class="col-12 my-4">
                    <button class="w-100 btn btn-dark btn-lg" type="submit">비밀번호 재설정</button>
                </form>
            </div>

        </main>

    </div>

</div>
</html>