<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div th:fragment="question_list(questionList)">
    <div class="container" th:each="question:${questionList}">
        <!--PART7_MULTIPLE_PARAGRAPH-->
        <div class="py-5 text-center" th:if="${question.getQuestionType().toString().equals('PART7_MULTIPLE_PARAGRAPH')}">
            <div>
                <span th:text="${question.id} + '.'"></span>
                <span th:if="${question.image} != null">
                    <img th:src= "@{/images/place_holder_images/ + ${question.image}}" class="img" ><br/>
                </span>
                <p>
                    <span th:text="${question.content}"></span>
                </p>
            </div>
            <div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" th:name="${question.id}" th:value="A" id="part7_ma">
                    <label class="form-check-label" for="part7_ma" th:text="${question.exampleA}"></label>
                </div><br/>
                <div class="form-check">
                    <input  class="form-check-input" type="radio" th:name="${question.id}" th:value="B" id="part7_mb">
                    <label class="form-check-label" for="part7_mb" th:text="${question.exampleB}"></label>
                </div><br/>
                <div class="form-check">
                    <input class="form-check-input" type="radio" th:name="${question.id}" th:value="C" id="part7_mc">
                    <label class="form-check-label" for="part7_mc" th:text="${question.exampleC}"></label>
                </div><br/>
                <div class="form-check">
                    <input class="form-check-input" type="radio" th:name="${question.id}" th:value="D" id="part7_md">
                    <label class="form-check-label" for="part7_md" th:text="${question.exampleD}"></label>
                </div>
                <input class="form-check-input" type="radio" th:name="${question.id}" th:value="'null'" id="part1_radio5" checked style="opacity: 0;">
            </div>
        </div>

    </div>
</div>
</html>