.btn-white-no-border{
    border: 0;
    background-color: white;
}

.div-font{
    font-size: 1.5rem;
}

.btn-white{
    background-color: white;
}

.div-padding{
    padding: 0.8rem;
}

.div-padding-ver{
    padding-top: 0.07rem;
    padding-bottom: 0.07rem;
}

.div-padding-top{
    padding-top: 0.3rem;
}

#exist-null {
    border: antiquewhite solid 1px;
    padding: 0.938em;
    text-align: center;
}

#out-btn {
    text-align: right;
    padding-top: 3.625em;
}

#comment-header {
    text-align: center;
    padding-top: 1em;
    font-family: "Gugi", sans-serif;
}

#comment-box {
    box-shadow: 0px 0px 5px rgba(9, 153, 40, 0.212);
    border-radius: 1em;
}

#comment {
    border-radius: 1em;
    width: 83%;
    font-family: "Hi Melody", sans-serif;
}
.btn-info {
   border-radius: 1em;
    font-family: "Hi Melody", sans-serif;
}

#chatContent {
    overflow: auto;
    overflow-x: hidden;
    width:100%;
    height:21.875em;
    padding-bottom: 0.938em;
    padding-right: 0.250em;
    padding-left: 0.250em;
}

#chatContent::-webkit-scrollbar {
    width: 0.438em;
}
#chatContent::-webkit-scrollbar-thumb {
    background-color: #b8c6d580;
    border-radius: 10px;
}
#chatContent::-webkit-scrollbar-track {
    background-color: #e9ecef;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}


#study-main {
    box-shadow: 4px 4px 10px rgba(155, 2, 186, 0.212);
    border-radius: 1em;
}

#all-body {
    padding-bottom: 3.125em;
}

.btn-danger {
    font-family: "Gugi", sans-serif;
    font-size: 0.75rem;
}

#other-content {
    font-family: "Hi Melody", sans-serif;
    text-align: left;
    padding-right: 4em;
    padding-left: 0.938em;
}

#user-nickname {
   font-family: "Gugi", sans-serif;
   font-size: 0.813rem;
   padding-left: 0.313em;
}

#current-user-nickname {
    text-align: right;
    font-family: "Gugi", sans-serif;
    font-size: 0.813rem;
    padding-right: 0.313em;
}

#content {
    font-family: "Hi Melody", sans-serif;
    text-align: right;
    padding-left: 4em;
    padding-right: 0.938em;
}

#content-row {
    padding-top: 0.625em;
}

#exist-null {
    font-family: "Gugi", sans-serif;
}

.top-member {
    text-align: center;
    font-family: "Gugi", sans-serif;
}

#modify_study_name {
    text-align: center;
}

#study-info {
    font-family: "Gugi", sans-serif;
}

.btn-white {
    border-radius: 1em;
}

#team-name {
    font-family: "Gugi", sans-serif;
}

#name {
    border-radius: 0.313em;
}
.div-padding-ver {
    font-family: "Gugi", sans-serif;
    padding-bottom: 0.625em;
}

#start-btn {
    margin-left: 0.625em;
}

#std-member {
    margin-right: 0.125em;
}