<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="title='Upload_Bulletin'">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/community/community.css}">
</th:block>

<div layout:fragment="content">
    <div class="container">
        <div class="py-5">
            <form th:action="@{/bulletin_upload}" method="post">
                <div>
                    <label id="bulletin-title" for="title">글 제목</label>
                    <input class="form-control" id="memberId" type="hidden" th:value="${member.getUserId()}" name="memberId">
                    <input class="form-control" id="title" type="text" placeholder="제목을 입력하세요." name="title" required>
                    <br/>
                    <label id="bulletin-content" for="content">글 내용</label>
                    <textarea class="form-control" id="content" placeholder="내용을 입력하세요." name="content" required></textarea>
                </div>
                <br/>
                <div id="upload-submit">
                    <button type="submit" class="btn btn-dark">등록하기</button>
                </div>
            </form>
        </div>



    </div>
</div>
</html>