<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="title='LC_Sheet'">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/sheet/sheet.css}">
</th:block>



<div layout:fragment="content">

</div>
<div layout:fragment="content">
    <div class="container">
        <form action="" method="post">
            <h1>LC-SHEET</h1>

            <ul class="nav nav-tabs">
                <li th:if="${part1List != null}" class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#p1">part1</a>
                </li>
                <li th:if="${part2List != null}" class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#p2">part2</a>
                </li>
                <li th:if="${part3List != null}" class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#p3">part3</a>
                </li>
                <li th:if="${part4List != null}" class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#p4">part4</a>
                </li>
            </ul>

            <div class="tab-content">

                <div th:if="${part1List != null}" class="tab-pane fade show active" id="p1">
                    <th:block th:insert="fragments/question_LC_fragments :: question_list(${part1List})"/>
                </div>

                <div th:if="${part2List != null}" th:classappend="${part1List == null} ? 'tab-pane fade show active' : 'tab-pane fade'" id="p2">
                    <th:block th:insert="fragments/question_LC_fragments :: question_list(${part2List})"/>
                </div>

                <div th:if="${part3List != null}" th:classappend="${part1List == null && part2List == null} ? 'tab-pane fade show active' : 'tab-pane fade'" id="p3">
                    <th:block th:insert="fragments/question_LC_fragments :: question_list(${part3List})"/>
                </div>

                <div th:if="${part4List != null}" th:classappend="${part1List == null && part2List == null && part3List == null} ? 'tab-pane fade show active' : 'tab-pane fade'" id="p4">
                    <th:block th:insert="fragments/question_LC_fragments :: question_list(${part4List})"/>
                </div>

            </div>




            <!--풀다 말았을때 저장 기능이랑 제출-->
            <div id="submit_btn">
                <button type="submit" class="btn btn-primary" >저장</button>
                <button type="submit" class="btn btn-primary" >제출 및 채점</button>
            </div>
        </form>
    </div>
</div>
</html>