<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="title='ReviewNote'">

<th:block layout:fragment="css">

</th:block>


<div layout:fragment="content">
    <div th:class="container">
        <br>

        <div class="row" style="border: #444444 solid 1px;">
            <div class="col-3 text" style="padding: 10px 0px 0px 10px;">
                <p class="lead">나의 모의 시험 점수 :</p>
            </div>
            <div class="col-1 text" style="padding: 10px 0px 0px 0px;">
                <p class="lead">RC</p>
            </div>
            <div class="col-1 text" style="padding: 10px 0px 0px 0px;">
                <p class="lead">~~</p>
            </div>
            <div class="col-1 text" style="padding: 10px 0px 0px 0px;">
                <p class="lead">LC</p>
            </div>
            <div class="col-1 text" style="padding: 10px 0px 0px 0px;">
                <p class="lead">~~</p>
            </div>
        </div>
        <br>

        <div class="row">

            <div style="border: #444444 solid 1px; width: 65.5%; float: left; margin-right:1.5%; padding: 10px 10px 10px 10px;">
                <div class="row justify-content-center">
                    <p>TOEIC</p>
                </div>
                <div style="border: #444444 solid 1px; width: 49%; float: left; margin-right:2%; padding: 10px 10px 10px 10px;">
                    <div  style="border: #444444 solid 1px; margin-bottom: 10px;">
                        <div class="row justify-content-center">
                            <p>RC Lv.</p>
                        </div>
                    </div>
                    <div style="border: #444444 solid 1px; margin-bottom: 10px;">
                        <div class="row justify-content-center">
                            <p>최근 RC학습 현황</p>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <p>레벨 테스트 :</p>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <p>연습문제</p>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <p>모의시험</p>
                        </div>
                    </div>
                    <div style="border: #444444 solid 1px; margin-bottom: 10px;">
                        <div class="row justify-content-center">
                            <p>comment</p>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <p>~유형 정답률</p>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <p>~유형 정답률</p>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <p>전체적으로 ~</p>
                        </div>
                    </div>

                </div>
                <div style="border: #444444 solid 1px; width: 49%; float: right; padding: 10px 10px 10px 10px;">
                    <div style="border: #444444 solid 1px; margin-bottom: 10px;">
                        <div class="row justify-content-center">
                            <p>LC Lv.</p>
                        </div>
                    </div>
                    <div style="border: #444444 solid 1px; margin-bottom: 10px;">
                        <div class="row justify-content-center">
                            <p>최근 LC학습 현황</p>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <p>레벨 테스트 :</p>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <p>연습문제</p>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <p>모의시험</p>
                        </div>
                    </div>
                    <div style="border: #444444 solid 1px; margin-bottom: 10px;">
                        <div class="row justify-content-center">
                            <p>comment</p>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <p>~유형 정답률</p>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <p>~유형 정답률</p>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <p>전체적으로 ~</p>
                        </div>
                    </div>
                </div>

            </div>

            <div style="border: #444444 solid 1px; width: 33%; float: right; padding: 10px 10px 10px 10px;">
                <div class="row justify-content-center">
                    <p>TOEIC SPEAKING</p>
                </div>
                <div style="border: #444444 solid 1px; padding: 10px 10px 10px 10px;">
                    <div style="border: #444444 solid 1px;  margin-bottom: 10px;">
                        <div class="row justify-content-center">
                            <p>SPK Lv.</p>
                        </div>
                    </div>
                    <div style="border: #444444 solid 1px; margin-bottom: 10px;">
                        <div class="row justify-content-center">
                            <p>최근 SPK학습 현황</p>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <p>레벨 테스트 :</p>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <p>연습문제</p>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <p>모의시험</p>
                        </div>
                    </div>
                    <div style="border: #444444 solid 1px; margin-bottom: 10px;">
                        <div class="row justify-content-center">
                            <p>comment</p>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <p>시간을 잘 채우는 편입니다</p>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <p>~유형 키워드 포함률</p>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <p>~유형 키워드 포함률</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>




        <br>
    </div>
</div>
</html>