<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="title='my_page'">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/member/myPage.css}">
</th:block>
<div layout:fragment="content">
    <div class="container">
        <main>
            <div>
                <h2>내 정보</h2>
                <p class="lead">회원님의 개인정보 수정하실 수 있습니다.</p>
            </div>

            <div class="row g-10">
            <div class="col-1"></div>
                <form name = "updateForm" class="needs-validation" novalidate>
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="user_id" class="form-label">아이디</label>
                            <input type="text" class="form-control"
                                   name="user_id" id="user_id"
                                   aria-describedby="user_id_help_text"
                                   th:value="${userDto.getEmail()}" readonly="readonly">
                            <div class="invalid-feedback">필수 사항입니다.</div>
                            <small id="username_help_text"
                                   class="form-text text-muted">
                                회원님의 아이디입니다.
                            </small>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-12">
                            <label for="password" class="form-label">비밀번호</label>
                            <input type="password" class="form-control"
                                   name="password" id="password"
                                   aria-describedby="password_help_text"
                                   th:value="${userDto.getPassword()}" required>
                            <div class="invalid-feedback">필수 사항입니다.</div>
                            <small id="password_help_text"
                                   class="form-text text-muted">
                                패스워드를 수정 하실 수 있습니다.
                            </small>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-12">
                            <label for="nickname" class="form-label">닉네임</label>
                            <input type="text" class="form-control"
                                   name="nickname" id="nickname"
                                   aria-describedby="nickname_help_text"
                                   th:value="${userDto.getNickname()}" required>
                            <div class="invalid-feedback">필수 사항입니다.</div>
                            <small id="nickname_help_text"
                                   class="form-text text-muted">
                                회원님의 닉네임입니다.
                            </small>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-12">
                            <label for="gender" class="form-label">성별</label>
                            <input type="text" class="form-control"
                                   name="gender" id="gender"
                                   aria-describedby="gender_help_text"  th:value="${userDto.getGenderType()}"
                                   required readonly="readonly">
                            <div class="invalid-feedback">필수 사항입니다.</div>
                            <small id="gender_help_text"
                                   class="form-text text-muted">
                                회원님의 성별입니다.
                            </small>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-12">
                            <label for="age" class="form-label">나이</label>
                            <input type="text" class="form-control"
                                   name="age" id="age"
                                   aria-describedby="age_help_text"
                                   th:value="${userDto.getAge()}" required>
                            <div class="invalid-feedback">필수 사항입니다.</div>
                            <small id="age_help_text"
                                   class="form-text text-muted">
                                회원님의 나이입니다.
                            </small>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-12">
                            <label for="contact" class="form-label">전화번호</label>
                            <input type="tel" class="form-control"
                                   name="contact" id="contact"
                                   aria-describedby="contact_help_text"  th:value="${userDto.getContact()}"
                                   required>
                            <div class="invalid-feedback">필수 사항입니다.</div>
                            <small id="contact_help_text"
                                   class="form-text text-muted">
                                회원님의 전화번호입니다.
                            </small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <label for="zipcode" class="form-label">우편번호</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="zipcode" th:value="${userDto.getAddress().getZipcode()}" readonly>
                            </div>
                        </div>
                        <div class="col-4">
                            <label for="city"  class="form-label">기본주소</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="city" th:value="${userDto.getAddress().getCity()}" readonly>
                            </div>
                        </div>
                        <div class="col-4">
                            <label for="street" class="form-label">상세주소</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="street" th:value="${userDto.getAddress().getStreet()}">
                            </div>
                        </div>
                        <div class="col-2">
                            <label class="form-label">기본주소</label>
                            <button class="w-100 btn btn-dark" type="button">주소 검색</button>
                        </div>
                    </div>

                    <hr class="col-12 my-4">

                    <div class="btn-group">
                        <button type="button" class="btn btn-dark group-btn">정보수정</button>
                        <button type="button" class="btn btn-dark group-btn">뒤로가기</button>
                        <button type="button" class="btn btn-dark group-btn">탈퇴하기</button>
                    </div>

                </form>
                <div class="col-1"></div>
            </div>

        </main>
        <footer class="my-5 pt-5">

        </footer>
    </div>

</div>
