<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="title='select_test'">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/select/select.css}">
</th:block>


<div layout:fragment="content">
    <div th:class="container">

        <div class="py-5 text-center">
            <p class="lead">오답노트 선택하기</p>
        </div>

        <div class="py-5 text-center">
            <div class="select">
                <button type="button" class="btn btn-outline-primary btn-block">
                    <a href="">
                        <p>LC 오답노트</p>
                    </a>
                </button>
            </div>
            <div class="select">
                <button type="button" class="btn btn-outline-primary btn-block">
                    <a href="/rc_sheet">
                        <p>RC 오답노트</p>
                    </a>
                </button>
            </div>
            <div class="select">
                <button type="button" class="btn btn-outline-primary btn-block">
                    <a href="">
                        <p>SPEAK 오답노트</p>
                    </a>
                </button>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
</div>
</html>