<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="title='ReviewNote'">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/member/studyGroup.css}">
</th:block>

<div layout:fragment="content">

    <script th:inline="javascript">
        function a(id){
            $.ajax({
                type: 'GET',
                url: '/modify_study_leader',
                data: {"target":id,"group":[[${thisStudyGroup.id}]]},
                dataType: 'json',
                success: function (result){
                    $('.modal-body').html(result.message);
                    $('#exampleModalCenter').modal('show');
                    $('#exampleModalCenter').on('hidden.bs.modal', function () {
                        location.reload();
                    })
                }
            });
        }
        function b(){
            $.ajax({
                type: 'GET',
                url: '/modify_study_name',
                data: {"name":$('#name').val(),"group":[[${thisStudyGroup.id}]]},
                dataType: 'json',
                success: function (result){
                    $('.modal-body').html(result.message);
                    $('#exampleModalCenter').modal('show');
                    $('#exampleModalCenter').on('hidden.bs.modal', function () {
                        location.reload();
                    })
                }
            });
        }

        function c(test){
            $.ajax({
                type: 'GET',
                url: '/secession_studyGroup',
                data: {id:test},
                dataType: 'json',
                success: function (result){
                    $('.modal-body').html(result.message);
                    $('#exampleModalCenter').modal('show');
                    $('#exampleModalCenter').on('hidden.bs.modal', function () {
                        location.href='/'
                    })
                }
            });
        }

        function check(){
            $('.modal-body').html('정말로 해당 그룹을 탈퇴하시겠습니까?');
            $('#check_modal').modal('show');
        }
    </script>

    <div class="modal fade" id="check_modal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">토익 연구소 :: 스터디</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal" th:onclick="|javascript:c('${thisStudyGroup.id}')|">확인</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
        <div class="col-9">
        <div class="py-3 row">
            <div class="col-2"></div>
            <div class="col-3">
                <h3>
                    <b th:text="${thisStudyGroup.name}"></b>
                    <button class="btn-white-no-border" th:if="${member.id == leader.id}">
                        <div class="div-font" data-toggle="collapse" data-target="#modify_study_name">
                            <i class="fas fa-pencil-alt"></i>
                        </div>
                    </button>
                </h3>
            </div>
            <div id="modify_study_name" class="col-7 collapse div-padding-top">
                <input type="text" maxlength="6" minlength="1" id="name" placeholder="6글자 이하로 수정">
                <button class="btn-white" onclick="b()">확인</button>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-1">
                <a>조장</a>
            </div>
            <div class="col-9">
                <a class="col-1" th:text="${leader.nickname}"></a><button class="btn-white-no-border" data-toggle="collapse" data-target="#modify_leader"><i class="fas fa-crown"></i></button>
                <div th:if="${member.id == leader.id}" id="modify_leader" class="collapse div-padding">
                    <button th:each="member:${memberList}" class="btn-white" type="button" th:onclick="|javascript:a('${member.id}')|" th:text="${member.nickname + '으로 조장 변경'}"></button>
<!--                    <button class="btn-white" type="button" th:onclick="|javascript:a('${member2.id}')|" th:text="${member2.nickname + '으로 조장 변경'}"></button>-->
<!--                    <button class="btn-white" type="button" th:onclick="|javascript:a('${member3.id}')|" th:text="${member3.nickname + '으로 조장 변경'}"></button>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-1">
                <a>팀원</a>
            </div>
            <div class="col-9">
                <a class="col-1" th:each="member:${memberList}" th:text="${member.nickname}"></a>
<!--                <a class="col-1" th:text="${member2.nickname}"></a>-->
<!--                <a class="col-1" th:text="${member3.nickname}"></a>-->
            </div>
        </div>

        <hr class="col-8"/>

        <div class="py-3 row">
            <div class="col-2"></div>
            <div class="col-2">
                <h3>
                    <b>스터디</b>
                    <button class="btn-white-no-border" th:if="${member.id == leader.id}">
                        <div class="div-font" data-toggle="collapse" data-target="#create_study">
                            <i class="fas fa-plus"></i>
                        </div>
                    </button>
                </h3>
            </div>
            <div id="create_study" class="col-8 collapse div-padding-top">
                <button class="btn-white">
                    <a th:href="@{/create_meeting/{id}(id=${id})}">스터디 일정 및 문제 설정 페이지로 이동</a>
                </button>
            </div>
        </div>
        <div th:if="${meetings.isEmpty()}" class="row">
            <div class="col-1"></div>
            <div class="col-10" id="exist-null">
                <a>등록된 스터디가 없습니다.</a>
                <br>
                <a>조장이 스터디를 생성할 수 있습니다.</a>
            </div>
        </div>
        <div class="row div-padding-ver" th:each="meeting:${meetings}">
            <div class="col-2"></div>
            <div class="col-3">
                <a th:text="${meeting.date.toLocalDate()}"></a>
                <button class="btn-white"><a th:href="@{/practice/{id}(id=${meeting.id})}">스터디시작하기</a></button>
            </div>
            <div class="col-7">
                <form th:if="${comment.get(map.get(meeting.id).id) != null}" th:action="@{/result_sheet/{questionSetId}(questionSetId=${map.get(meeting.id).id})}" th:method="post">
                    <input type="hidden" th:name="questionSetId" th:value="${map.get(meeting.id).id}">
                    <input type="hidden" th:each="map2:${map.get(meeting.id).submittedAnswers}" th:name="${map2.getKey()}" th:value="${map2.getValue()}">
                    <input type="hidden" th:name="studyGroupId" th:value="${studyGroupId}">
                    <button type="submit" class="btn-white-no-border"><a th:text="${comment.get(map.get(meeting.id).id)}"></a></button>
                </form>
                <form th:if="${comment.get(map.get(meeting.id).id) == null}">
                    <button type="button" class="btn-white-no-border"><a>스터디를 완료하면 comment 가 생성됩니다</a></button>
                </form>
            </div>
        </div>


        <div>
<!--            <button type="button" class="btn" th:onclick="|javascript:check('${thisStudyGroup.id}')|">탈퇴</button>-->
            <button type="button" class="btn" onclick="check()">탈퇴</button>

        </div>
        <hr class="col-8"/>
        </div>

        <div class="col-3">
            <div><p>서로 소통하는 댓글을 남기세요!!</p></div>
            <div style="overflow:auto; overflow-x: hidden;  width:100%; height:350px;" class="row">
                <div class="col-4" th:text="Nickname"></div>
                <div class="col-8" th:text="content"></div>
            </div>
            <div>
                <form action="" method="post">
                    <input type="text" name="comment">
                    <button type="submit">등록</button>
                </form>
            </div>

        </div>




<!--        <div class="row">-->
<!--            <div class="col-2"></div>-->
<!--            <div class="col-3">-->
<!--                <div th:each="meeting:${meetings}">-->
<!--                    <div>-->
<!--                        <a th:text="${meeting.date.toLocalDate()}"></a>-->
<!--                        <button type="button" class="btn-white"><a th:href="@{/practice/{id}(id=${meeting.id})}">스터디 시작하기</a></button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-7">-->
<!--                <div th:each="questionset:${questionSets}">-->
<!--                    <form th:if="${checkToken == questionset.id}" th:action="@{/result_sheet/{questionSetId}(questionSetId=${questionset.id})}" th:method="post">-->
<!--                        <input type="hidden" th:name="questionSetId" th:value="${questionset.id}">-->
<!--                        <input type="hidden" th:each="map:${questionset.submittedAnswers}" th:name="${map.getKey()}" th:value="${map.getValue()}">-->
<!--                        <input type="hidden" th:name="studyGroupId" th:value="${studyGroupId}">-->
<!--                        <button type="submit" class="btn-white-no-border"><a th:text="${comment.get(questionset.id)}"></a></button>-->
<!--                    </form>-->
<!--                    <form th:if="${checkToken != questionset.id}">-->
<!--                        <button type="button" class="btn-white-no-border"><a th:text="${comment.get(questionset.id)}"></a></button>-->
<!--                    </form>-->
<!--                    <p></p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <!--        <div>-->
        <!--            <div th:each="meeting:${meetings}">-->
        <!--                <span th:text="${meeting.date.toLocalDate()}"></span>-->
        <!--                <button type="button" class="btn btn-primary">스터디 시작하기</button>-->
        <!--                <button type="button" class="btn btn-primary">스터디 해답보기</button>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div>-->
        <!--            <h2>스터디 예약 / 진행 현황</h2>-->
        <!--            <div th:if="${questionSets!=null}" th:each="question:${questionSets}">-->
        <!--                <span th:if="${ques}" th:text="${meeting.date.toLocalDate()}"> </span>-->
        <!--                <button type="button" class="btn btn-primary"><a th:href="@{/practice/{id}(id=${meeting.id})}">스터디 시작하기</a></button>-->
        <!--            </div>-->
        <!--        </div>-->

    </div>
    </div>
</div>
</html>