<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="title='ReviewNote'">

<th:block layout:fragment="css">

</th:block>


<div layout:fragment="content">
    <div th:if="member.getStudyGroupList() == null">
        스터디 없지롱
    </div>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a th:each= "studyGroup : ${member.getStudyGroupList()}" class="nav-link active" data-toggle="tab" th:href="#${studyGroup.id}">스터디1</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" th:id="${studyGroup.id}"><!--id 에 문제아이디 주기-->
                <div class="py-5 row">
                    <div class="col-7">
                        <h2 th:text="${studyGroup1.getMembers.get(0).getUserId}"></h2>
                    </div>
                    <div class="col-5">
                        <button type="button" onclick="" class="btn btn-primary">스터디 일정 만들기</button>
                        <select class="form-line-select" name="" id="">
                            <option selected>조장 변경</option>
                            <option value="">조원 이름</option>
                        </select>
                        <!--스터디 그룹 삭제 아이콘-->
                    </div>
                    <div class="col-12">
                        <h2 th:text=""></h2>
                    </div>

                </div>

                <div class="py-5">
                    <h2>현황</h2><br/>
                    <div>
                        <span> 00회차 (00월 00일)</span>
                        <button type="button" class="btn btn-primary">스터디 시작하기</button>
                        <button type="button" class="btn btn-primary">스터디 해답보기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>