<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="title='Notify_Password'">
<div layout:fragment="content">
    <div class="container">
        <main>
        <div class="row g-10 justify-content-center">

        <form class="needs-validation" th:action="@{/notify_password}" method="post" name="loginForm" novalidate>
            <div class="row g-3">
                <div class="col-12">

                    <div th:if="${error_code != null}">
                        <h4>
                        <p class="lead">ToeicLab 패스워드 재설정</p>
                        </h4>
                        <h2>
                            링크 생성에 실패하였습니다.
                        </h2>
                    </div>
                    <div th:if="${result_code == 'password.reset.send'}">
                        <p class="lead">ToeicLab 비밀번호 재설정</p>
                        <h5>
                            [<span id="resetPasswordEmail" th:value="${resetPasswordEmail.email}"></span>]로 링크를 전송하였습니다.
                        </h5>

                        <label for="resetPasswordEmailToken" class="form-label">비밀번호 초기화 인증번호</label>
                        <input type="text" name="resetPasswordEmailToken" class="form-control" id="resetPasswordEmailToken" aria-describedby="resetPasswordEmailToken_help_text" required>
                        <div class="invalid-feedback">필수 사항입니다.</div>

                        <hr class="col-12 my-4">
                        <button class="w-50 btn btn-dark btn-lg" type="button" id="reset_password_email_token_check_button">확인</button>
                        <button class="w-50 btn btn-dark btn-lg" type="button" id="goResetPassword">비밀번호 초기화</button>

                    </div>

                    <div th:if="${result_code == 'password.reset.success'}">
                        <p class="lead">ToeicLab 비밀번호 재설정</p>
                        <h2>비밀번호 재설정이 완료되었습니다.</h2>
                    </div>


                </div>
            </div>

        </form>
    </div>

        </main>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="emailButton2">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title">알림</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    ...
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn info" data-dismiss="modal">확인</button>
                </div>

            </div>
        </div>
    </div>

    <script th:inline="javascript">
        $(document).ready(function () {
            $("#reset_password_email_token_check_button").click(function (){
                $.ajax({
                    type: 'GET',
                    url: '/reset/checkTokens',
                    data: 'resetPasswordEmail=[[$(resetPasswordEmail.email)]]&resetPasswordEmailToken=' + $("#resetPasswordEmailToken").val(),
                    dataType: 'json',
                    success: function (result){
                        $(".modal-body").html(result.message);
                        $("#emailButton2").modal();
                    }
                });
            });


        });

    </script>



</div>
</html>