<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="title='Notify_Password'">
<div layout:fragment="content">
    <div class="py-5 text-center">

        <div th:if="${error_code != null}">
            <p class="lead">ToeicLab 패스워드 재설정</p>
            <h2>
                링크 생성에 실패하였습니다.
            </h2>
        </div>
        <div th:if="${result_code == 'password.reset.send'}">
            <p class="lead">ToeicLab 비밀번호 재설정</p>
            <h2>
                [<span th:text="${email}"></span>]로 링크를 전송하였습니다.
            </h2>
            <small id ="reset_password" class="form-text text-muted">
                <a href="#" th:href="@{/reset_password}">비밀번호 재설정 링크</a>
            </small>

        </div>

        <div th:if="${result_code == 'password.reset.success'}">
            <p class="lead">ToeicLab 비밀번호 재설정</p>
            <h2>비밀번호 재설정이 완료되었습니다.</h2>
        </div>

    </div>
</div>
</html>