<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="title='select_test'">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/select/select.css}">
</th:block>


<div layout:fragment="content">
    <div th:class="container">


            <div class="py-5 text-center">
                <p class="lead">모의 시험</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-1"></div>
                <div class="col-4">
                    <p>LC/RC 모의 시험 보기</p>
                    <div class="select">
                        <button type="button" class="btn btn-outline-primary btn-block">
                            <a href="">
                                <p>1/4 모의 시험 (50문제)</p>
                                <p> - 전체 시험의 1/4 규모</p>
                                <p> - 시험시간 30분</p>
                            </a>
                        </button>
                    </div>
                    <div class="select">
                        <button type="button" class="btn btn-outline-primary btn-block">
                            <a href="">
                                <p>1/2 모의 시험 (100문제)</p>
                                <p> - 전체 시험의 1/2 규모</p>
                                <p> - 시험시간 60분</p>
                            </a>
                        </button>
                    </div>
                    <div class="select">
                        <button type="button" class="btn btn-outline-primary btn-block">
                            <a href="">
                                <p>1/2 모의 시험 (200문제)</p>
                                <p> - 전체 시험의 동일한 규모</p>
                                <p> - 시험시간 120분</p>
                            </a>
                        </button>
                    </div>
                </div>
                <div class="col-2"></div>
                <div class="col-4">
                    <p>SPEAKING 모의 시험 보기</p>
                    <div  class="select">
                        <button type="button" class="btn btn-outline-primary btn-block">
                            <a href="">
                                <p>SPEAKING 1/2 모의 시험</p>
                                <p> - 전체 시험의 1/2 규모</p>
                                <p> - 시험시간 00분</p>
                            </a>
                        </button>
                    </div>
                    <div  class="select">
                        <button type="button" class="btn btn-outline-primary btn-block">
                            <a href="">
                                <p>SPEAKING 전체 모의 시험</p>
                                <p> - 실제 시험과 동일한 규모</p>
                                <p> - 시험시간 00분</p>
                            </a>
                        </button>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
    </div>
</div>
</html>