.search-input {
    width: 80%;
}
#find {
    width: 20%;
}
label {
    padding: 0.625em;
    margin-left: 1.250em;
}
.row {
    padding-bottom: 1.250em;
}

#add-word {
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
}

#add_word_list {
    width: 7.500em;
    float: right;
}
